<h1><%= "#{@user.name}" %></h1>
<br>
<ul>
<h3><%= "Current Teams" %></h3>
<br>
<ul>
  <% @user.teams.each do |team| %>
  	 <li><%= team_link(team) %></li>
	<% end %>
</ul>
  <%= link_to "edit", edit_user_path(@user) %>
  <%= link_to "delete", user_url(@user), method: :delete, confirm: "Really delete the user?"
 %>
  <p><%= link_to "<< Users", users_url %></p>
</ul>
</ul>
